/* ---------------------Tickets------------------------ */

.tickets {
    padding: 0 40px 10px;
    background-color: var(--ticket-body-color);
    width: 100%;
    height: fit-content;
    transition: var(--tran-05);
}

.history {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    color: var(--text-color);
}

.tickets .history i.bx-chevron-right {
    color: var(--toggle-color);
}

.tickets h1 {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.tickets .tickets-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tickets .tickets-header div {
    display: flex;
    align-items: center;
}

.btn-design {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 5px 10px;
    border-radius: 7px;
    margin-right: 10px;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.btn-design:hover {
    cursor: pointer;
    background-color: var(--ticket-body-color);
}

.btn-design i {
    font-size: 1.3rem;
    margin-right: 3px;
}

.tickets .tickets-header .add-btn {
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 7px;
    color: var(--white-text-color);
}

.tickets .tickets-header .add-btn:hover {
    cursor: pointer;
}

.tickets .tickets-header .add-btn:active {
    background-color: rgb(25, 66, 104);
}

.tickets .tab-list {
    border-bottom: 3px solid var(--border-color);
    color: var(--text-color);
    transition: var(--tran-05);
    padding-bottom: 4px;
    margin-top: 10px;
}

.tickets .tab-list span {
    margin-right: 10px;
    padding-bottom: 5px;
}

.tickets .tab-list span:hover {
    cursor: pointer;
}

.tickets .tab-list span.active {
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
}

/* ---------------------- ticket status cards -------------------- */

.tickets .ticket-status {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.tickets .ticket-status .status-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    border-radius: 10px;
    height: 130px;
    width: calc(25% - 20px);
    overflow: hidden;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.tickets .ticket-status .status-card .status-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding-left: 30px;
    font-weight: 400;
}

.tickets .ticket-status .status-card .status-card-content.first {
    color: var(--my-red);
}

.tickets .ticket-status .status-card .status-card-content.second {
    color: var(--my-blue);
}

.tickets .ticket-status .status-card .status-card-content.third {
    color: var(--my-yellow);
}

.tickets .ticket-status .status-card .status-card-content.fourth {
    color: var(--my-green);
}

.tickets .ticket-status .status-card .status-card-content span {
    font-size: 1.4rem;
}

.tickets .ticket-status .status-card .status-card-content p {
    font-size: 2rem;
}

/* --------------- filter & search ---------------- */

.tickets .filter-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.tickets .filter-search .search {
    display: flex;
    align-items: center;
    background-color: var(--body-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    height: 36px;
    width: calc(25% - 30px);
    padding: 5px;
    transition: var(--tran-05);
}

.tickets .filter-search .search input {
    margin-left: 8px;
    width: 100%;
    background-color: var(--body-color);
    color: var(--text-color);
    border: none;
    transition: var(--tran-05);
}

.tickets .filter-search .search input:focus {
    outline: none;
}

/* -------------- Table -------------- */

.tickets .table-container {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    margin: 20px 0;
    transition: border 0.5s;
}

.tickets table {
    border-collapse: collapse;
    width: 100%;
    color: var(--text-color);
    font-size: 0.9rem;
}

.tickets table thead {
    background-color: var(--table-header-color);
    transition: var(--tran-05);
}

tr {
    border-bottom: 1px solid var(--border-color);
    transition: border 0.5s;
}

tbody {
    transition: var(--tran-05);
}

.tickets table thead td {
    padding: 15px;
}

.tickets table td {
    padding: 5px 10px;
}

.tickets table td .user-id {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* brand */

.tickets table td .brand-content,
.tickets table td .user-content {
    display: flex;
    align-items: center;
}

.brand-img {
    overflow: hidden;
    border: 1px solid white;
    border-radius: 10px;
    height: 45px;
    width: 80px;
}

.tickets table td .brand-content .brand-img img {
    width: 100%;
    height: 100%
}

.tickets table td .brand-content .brand-text,
.tickets table td .user-content .user-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

/* requester and assignee */

.tickets table td .user-content .user-img .pro {
    margin-left: 0;
}

.tickets table td .user-content .user-text .name {
    font-weight: 500;
}

/* status */

.tickets table td .status-container {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.tickets table td .status-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 20px;
    height: 30px;
}

.tickets table td .status-bubble div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 0.9rem;
}

.tickets table td .status-bubble div li {
    font-size: 1.5rem;
    margin-right: 15px;
    width: 0;
}

.tickets table td .status-bubble.open {
    color: var(--my-red);
    background-color: #e939393b;
}

.tickets table td .status-bubble.progress {
    color: var(--my-blue);
    background-color: #4286f43a;
}

.tickets table td .status-bubble.pending {
    color: var(--my-yellow);
    background-color: #ffc10740;
}

.tickets table td .status-bubble.resolved {
    color: var(--my-green);
    background-color: #7fef7f40;
}

/* Interactions */

.tickets table td .interactions-content {
    position: relative;
    width: 100px;
    height: 50px;
}

.tickets table td .interactions-content img,
.tickets table td .interactions-content div.pro {
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    margin: 0;
    width: 30px;
    height: 30px;
    border: 1px solid var(--white-color);
    transition: var(--tran-05);
}

.tickets table td .interactions-content img.img2 {
    left: 20px;
}

.tickets table td .interactions-content img.img3 {
    left: 40px;
}

.tickets table td .interactions-content img.img4 {
    left: 60px;
}

.tickets table td .interactions-content div.pro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c0d0eb;
    left: 80px;
    color: var(--my-blue);
    font-size: 0.8rem;
}

/* responsiveness */
.tickets table td .responsiveness-content {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 190px;
}

.tickets table td .responsiveness-content .range-container {
    width: 100%;
    height: 7px;
    background-color: rgb(238, 236, 236);
    border-radius: 10px;
}

.tickets table td .responsiveness-content .range-container div {
    height: 7px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.tickets table td .responsiveness-content span {
    margin-left: 5px;
}

/* Date */

td .date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

/* foot */

.tickets table tfoot td div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.tickets table tfoot tr {
    border: none;
}

.btn-design.next-btn {
    width: 90px;
}