/*poppins font from google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --body-color: #fff;
  --light-body-color: #f9fbfc;
  --dashboard-body-color: #f9fbfc;
  --white-color: #fff;
  --primary-color: #4285f4;
  --toggle-color: #ddd;
  --text-color: rgba(0, 0, 0, 1);
  --light-text-color: #4e5559;
  --white-text-color: #fff;
  --border-color: #e6e7e9;
  --input-border-color: #747a7e;
  /* --border-color: rgba(0, 0, 0, 0.3); */

  --ticket-body-color: #fff;
  --table-header-color: #f5f1f1;
  --my-blue: rgb(0 90 240);
  --my-red: #E91E63;
  --my-yellow: #FF9800;
  --my-green: #00a71d;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  --tran-06: all 0.6s ease;
  --tran-07: all 0.7s ease;
  --tran-08: all 0.8s ease;

}

body {
  height: 100vh;
  background: var(--light-body-color);
  transition: var(--tran-05);
  overflow-x: hidden;
  overflow-y: auto;
}

/*Sidebar*/
.sidebar {
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 15%;
  min-width: 220px;
  transition: var(--tran-05);
  z-index: 3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

header {
  min-height: 165px;
}

.sidebar .logo img {
  max-width: 90%;
  max-height: 200px;
  padding: 10% 20% 0% 27%;
}


.sidebar .headertext .name {
  font-size: 150%;
  display: flex;
  justify-content: center;
  color: var(--text-color);

}

.sidebar .icon {
  width: 10%;
  margin-right: 5%;
  margin-left: 10%;
}

.sidebar li a,
.mode {
  height: 45px;
  width: 90%;
  text-decoration: none;
  color: var(--text-color);
  margin-top: 3%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background-color: var(--dashboard-body-color);
}

.sidebar li a.selected {
  background-color: var(--primary-color);
  color: var(--white-text-color);
  outline: none;
}

/* -------------Dark Mode------------- */
body.dark {
  --body-color: #242526;
  --light-body-color: #18191A;
  --dashboard-body-color: #18191A;
  --white-color: black;
  --toggle-color: #FFF;
  --text-color: #ccc;
  --light-text-color: #4e5559;
  --white-text-color: #fff;
  --border-color: #5b5c5e;
  --input-border-color: #5b5c5e;
  --ticket-body-color: #18191A;
  --table-header-color: #242526;
}


.sidebar .menu-bar {
  height: calc(100% - 165px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bxs-sun {
  display: none;
}

body.dark .bxs-sun {
  display: block;
}

body.dark .bx-moon {
  display: none;
}

.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  cursor: pointer;
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--white-color);
  transition: var(--tran-02);
}

.mode a {
  cursor: default;
}

body.dark .switch::before {
  left: 24px
}

/* Header */

.main-header {
  position: fixed;
  top: 0;
  left: 220px;
  width: calc(100% - 220px);
  padding: 5px;
  display: flex;
  justify-content: space-around;
  background-color: var(--body-color);
  transition: var(--tran-05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.main-header .search-div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.main-header .search {
  position: relative;
  height: 40px;
  max-width: 600px;
  width: 100%;
  margin: 0 3rem;
  padding: 6px;
  background-color: var(--body-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: var(--tran-05);
}

.bx-search {
  font-size: 1.2rem;
  margin-left: 4px;
}

.bx-search:hover {
  cursor: text;
}

.main-header input[type=text] {
  margin-left: 8px;
  width: 100%;
  background-color: var(--body-color);
  color: var(--text-color);
  border: none;
  transition: var(--tran-05);
}

.main-header input[type=text]:focus {
  outline: none;
}


/*message - bell - profile image*/
.notification {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--text-color);
}

.notification .msg i,
.bell i {
  margin-right: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

.msg:hover,
.bell:hover,
.profile-img:hover {
  color: var(--primary-color);
}

.notification .profile-img {
  position: relative;
  height: 40px;
  margin-right: 3rem;
}

.pro {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 1rem;
}

.profile-img .bx-chevron-down {
  position: absolute;
  top: 12px;
  right: -24px;
}

.profile-img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  height: 20px;
  border-left: 1px solid var(--border-color);
  transition: var(--tran-05);
}

/* --------------Dashboard------------ */

.main-body {
  position: relative;
  left: 220px;
  top: 50px;
  width: calc(100% - 220px);
  height: calc(100% - 50px);
  transition: var(--tran-05);
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 2fr;
  gap: 1.2rem;
  background-color: var(--dashboard-body-color);
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: var(--tran-05);
}

.dashboard .card {
  background-color: var(--body-color);
  border-radius: 12px;
  transition: var(--tran-05);
  padding: 12px 15px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0);
}

.card.ticket-overview {
  grid-column: span 2;
}

.card.attach-details {
  grid-row: span 2;
}

.card.res-time {
  grid-column: span 3;
}

/* -------Card Details-------- */

.card span {
  color: var(--text-color);
}

.card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .card-content .card-content-details {
  display: flex;
  align-items: center;
}

.card-content-details .card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #96a6e140;
  padding: 15px;
  margin: 5px;
  border-radius: 14px;
}

.card-content-details .card-icon i {
  font-size: 1.3rem;
  color: var(--primary-color);
}

.card-content-details .card-info {
  margin: 0px 9px;
}

.card-content-details .card-info>span {
  color: var(--primary-color);
  font-size: 1.3rem;
}

.card-info .card-change-rate {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.card-info .card-change-rate .rate {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.card-info .card-change-rate i {
  font-size: 0.9rem;
}

.card-info .card-change-rate .bx-up-arrow-alt,
.card-info .card-change-rate .bx-up-arrow-alt+span {
  color: #02b320;
}

.card-info .card-change-rate .bx-down-arrow-alt,
.card-info .card-change-rate .bx-down-arrow-alt+span {
  color: red;
}

.card .card-content .bx-chevron-right {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.card .card-content .bx-chevron-right:hover {
  cursor: pointer;
}

.chart {
  color: var(--primary-color);
}

/* ------Rating------- */

.card .rating-ratio-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 22px);
  width: 100%;
}

.card .rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.card .rating-container .rating-val span {
  color: orange;
  font-size: 1.8rem;
}

.card .rating-container .rating-val .value {
  color: var(--primary-color);
  font-size: 3.2rem;
}

.card .fa-star {
  font-size: 2rem;
}

.card .fa-star.checked {
  color: orange;
}

.card .ratio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  overflow: hidden;
}

.card .ratio-container .ratio-text {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.card .ratio-container .ratio {
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
  /* width: 250px; */
  width: 100%;
}

.card .ratio-container .ratio div {
  width: 100%;
  overflow: hidden;
}

.card .ratio-container output {
  position: absolute;
  left: 0;
  top: 8px;
  background-color: var(--primary-color);
  color: var(--white-text-color);
  padding: 2px 3px;
  border-radius: 3px;
  font-size: 0.8rem;
}

.card .ratio-container input[type="range"] {
  appearance: none;
  width: 100%;
  height: 7px;
  background: #4285f4;
  border-radius: 5px;
}

.card .ratio-container input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4285f4;
  border: 2px solid #4285f4;
  box-shadow: 257px 0 0 250px var(--body-color);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--tran-05);
}

/* --------Attach Details--------- */

.card.attach-details .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 25px);
}

.card.attach-details .files {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 30px;
  height: calc(100% - 210px);
}

.card.attach-details .files .file {
  border: 1px solid var(--primary-color);
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  max-height: calc(25% - 10px);
}

.card.attach-details .files .file i {
  font-size: 2.3rem;
}

.card.attach-details .files .file .bxs-file-doc {
  color: #4285f4;
}

.card.attach-details .files .file .bxs-file-image {
  color: #0db8ed;
}

.card.attach-details .files .file .bxs-user-voice {
  color: #FF9800;
}

.card.attach-details .files .file .bxs-videos {
  color: #E91E63;
}

.card.attach-details .files .file .file-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  font-size: 0.9rem;
}

.card.attach-details .files .file .file-text div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

/* ---------------------Tickets------------------------ */

.tickets {
  padding: 0 40px 10px;
  background-color: var(--ticket-body-color);
  width: 100%;
  height: fit-content;
  transition: var(--tran-05);
}

.history {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  color: var(--text-color);
}

.tickets .history i.bx-chevron-right {
  color: var(--toggle-color);
}

.tickets h1 {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.tickets .tickets-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tickets .tickets-header div {
  display: flex;
  align-items: center;
}

.btn-design {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  border-radius: 7px;
  margin-right: 10px;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.btn-design:hover {
  cursor: pointer;
  background-color: var(--ticket-body-color);
}

.btn-design i {
  font-size: 1.3rem;
  margin-right: 3px;
}

.tickets .tickets-header .add-btn {
  background-color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 7px;
  color: var(--white-text-color);
}

.tickets .tickets-header .add-btn:hover {
  cursor: pointer;
}

.tickets .tickets-header .add-btn:active {
  background-color: rgb(25, 66, 104);
}

.tickets .tab-list {
  border-bottom: 3px solid var(--border-color);
  color: var(--text-color);
  transition: var(--tran-05);
  padding-bottom: 4px;
  margin-top: 10px;
}

.tickets .tab-list span {
  margin-right: 10px;
  padding-bottom: 5px;
}

.tickets .tab-list span:hover {
  cursor: pointer;
}

.tickets .tab-list span.active {
  border-bottom: 3px solid var(--primary-color);
  color: var(--primary-color);
}

/* ---------------------- ticket status cards -------------------- */

.tickets .ticket-status {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.tickets .ticket-status .status-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  border-radius: 10px;
  height: 120px;
  width: calc(25% - 30px);
  overflow: hidden;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.tickets .ticket-status .status-card .status-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding-left: 30px;
  font-weight: 400;
}

.tickets .ticket-status .status-card .status-card-content.first {
  color: var(--my-red);
}

.tickets .ticket-status .status-card .status-card-content.second {
  color: var(--my-blue);
}

.tickets .ticket-status .status-card .status-card-content.third {
  color: var(--my-yellow);
}

.tickets .ticket-status .status-card .status-card-content.fourth {
  color: var(--my-green);
}

.tickets .ticket-status .status-card .status-card-content span {
  font-size: 1.4rem;
}

.tickets .ticket-status .status-card .status-card-content p {
  font-size: 2rem;
}

/* --------------- filter & search ---------------- */

.tickets .filter-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.tickets .filter-search .search {
  display: flex;
  align-items: center;
  background-color: var(--body-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  height: 36px;
  width: calc(25% - 30px);
  padding: 5px;
  transition: var(--tran-05);
}

.tickets .filter-search .search input {
  margin-left: 8px;
  width: 100%;
  background-color: var(--body-color);
  color: var(--text-color);
  border: none;
  transition: var(--tran-05);
}

.tickets .filter-search .search input:focus {
  outline: none;
}

/* -------------- Table -------------- */

.tickets .table-container {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  margin: 20px 0;
  transition: border 0.5s;
}

.tickets table {
  border-collapse: collapse;
  width: 100%;
  color: var(--text-color);
}

.tickets table thead {
  background-color: var(--table-header-color);
  transition: var(--tran-05);
}

tr {
  border-bottom: 1px solid var(--border-color);
  transition: border 0.5s;
}

tbody {
  transition: var(--tran-05);
}

.tickets table thead td {
  padding: 15px;
}

.tickets table td {
  padding: 5px 15px;
}

/* brand */

.tickets table td .brand-content,
.tickets table td .user-content {
  display: flex;
  align-items: center;
}

.brand-img {
  overflow: hidden;
  border: 1px solid white;
  border-radius: 10px;
  height: 45px;
  width: 80px;
}

.tickets table td .brand-content .brand-img img {
  width: 100%;
  height: 100%
}

.tickets table td .brand-content .brand-text,
.tickets table td .user-content .user-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

/* requester and assignee */

.tickets table td .user-content .user-img .pro {
  margin-left: 0;
}

.tickets table td .user-content .user-text .name {
  font-weight: 500;
}

/* status */

.tickets table td .status-container {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.tickets table td .status-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 20px;
}

.tickets table td .status-bubble div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.9rem;
}

.tickets table td .status-bubble div li {
  font-size: 1.5rem;
  margin-right: 15px;
  width: 0;
}

.tickets table td .status-bubble.open {
  color: var(--my-red);
  background-color: #e939393b;
}

.tickets table td .status-bubble.progress {
  color: var(--my-blue);
  background-color: #4286f43a;
}

.tickets table td .status-bubble.pending {
  color: var(--my-yellow);
  background-color: #ffc10740;
}

.tickets table td .status-bubble.resolved {
  color: var(--my-green);
  background-color: #7fef7f40;
}

/* Interactions */

.tickets table td .interactions-content {
  position: relative;
  width: 100%;
  height: 50px;
}

.tickets table td .interactions-content img,
.tickets table td .interactions-content div.pro {
  position: absolute;
  left: 0;
  top: calc(50% - 15px);
  margin: 0;
  width: 30px;
  height: 30px;
  border: 1px solid var(--white-color);
  transition: var(--tran-05);
}

.tickets table td .interactions-content img.img2 {
  left: 20px;
}

.tickets table td .interactions-content img.img3 {
  left: 40px;
}

.tickets table td .interactions-content img.img4 {
  left: 60px;
}

.tickets table td .interactions-content div.pro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0d0eb;
  left: 80px;
  color: var(--my-blue);
  font-size: 0.8rem;
}

/* responsiveness */
.tickets table td .responsiveness-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.tickets table td .responsiveness-content .range-container {
  width: 70%;
  height: 7px;
  background-color: rgb(238, 236, 236);
  border-radius: 10px;
}

.tickets table td .responsiveness-content .range-container div {
  height: 7px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

/* foot */

.tickets table tfoot td div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}

.tickets table tfoot tr {
  border: none;
}

.btn-design.next-btn {
  width: 90px;
}

/*------------------------------ Add Ticket -------------------------- */
#add-ticket {
  position: relative;
  animation: page-appear 0.75s ease;
}

@keyframes page-appear {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

.add-ticket-content .field-container {
  display: flex;
  color: var(--text-color);
  width: 100%;
}

.add-ticket-content .field-container .field-text {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  transition: var(--tran-05);
}

.add-ticket-content .field-container .field-text label {
  font-weight: 500;
}

.add-ticket-content .field-container .field-text span {
  font-size: 0.9rem;
  padding-top: 5px;
}

.add-ticket-content .field-container .input-container,
.dropdown {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 300px;
}

.add-ticket-content .field-container input,
.add-ticket-content .field-container textarea,
.dropdown .dropdown-selector {
  background-color: var(--ticket-body-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 5px;
  height: 50px;
  width: 60%;
  padding: 5px;
  font-size: 1rem;
  transition: var(--tran-05);
}

.add-ticket-content .field-container input:focus,
.add-ticket-content .field-container textarea:focus {
  border: 2px solid var(--primary-color);
}

.add-ticket-content .field-container .textarea-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 20px 0 20px 155px;
}

.add-ticket-content .field-container textarea {
  height: 175px;
  padding: 5px;
}


hr {
  font-size: 0.5rem;
  border-top: 1px solid var(--border-color);
  border-bottom: none;
  transition: var(--tran-05);
}

/* dropdown menu */
.dropdown {
  padding-left: 170px;
  position: relative;
}


.dropdown .dropdown-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown .dropdown-selector:hover {
  cursor: pointer;
}

.dropdown .dropdown-selector span {
  margin-left: 10px;
}

.dropdown .dropdown-selector i {
  margin-right: 5px;
  font-size: 1.2rem;
}

#brand.dropdown .dropdown-content-container {
  z-index: 3;
}

.dropdown .dropdown-content-container {
  display: none;
  position: absolute;
  top: 90px;
  width: 100%;
  height: 255px;
  z-index: 2;
  overflow: hidden;
}

.dropdown .dropdown-content {
  display: none;
  background-color: var(--ticket-body-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  position: absolute;
  width: 51%;
  z-index: 2;
  transition: var(--tran-05);
}

@keyframes roll-down {
  from {
    top: -250px;
  }

  to {
    top: 0;
  }
}


.dropdown .dropdown-content.show,
.dropdown .dropdown-content-container.show {
  display: block;
}

.dropdown .dropdown-content.roll-up {
  animation: roll-down 1s ease reverse;
  top: -260px;
}

.dropdown .dropdown-content.roll-down {
  animation: roll-down 1s ease;
  top: 0;
}

.item-content {
  display: flex;
  align-items: center;
  height: 50px;
}

.item:hover {
  background-color: #445bff1f;
  cursor: pointer;
}

.item-content .item-img {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid white;
  background-color: white;
  border-radius: 7px;
  height: 40px;
  margin: 10px 15px;
}

.item-content .item-img img {
  width: 70px;
}

.item-content span {
  margin-left: 10px;
}

/* buttons */
.add-ticket-btns {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  margin-right: 120px;
  margin-bottom: 150px;
}

.add-ticket-btns .cancel-btn,
.add-ticket-btns .save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  margin-right: 10px;
  background-color: var(--ticket-body-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 7px;
  border-radius: 7px;
  transition: var(--tran-05);
}

.add-ticket-btns .save-btn {
  background-color: var(--primary-color);
  color: white;
}

.add-ticket-btns .cancel-btn:hover,
.add-ticket-btns .save-btn:hover {
  cursor: pointer;
  background-color: rgb(143 151 163 / 14%);
}

.add-ticket-btns .save-btn:hover {
  background-color: rgb(46 104 199);
}

.add-ticket-btns .save-btn:active {
  background-color: rgb(25, 66, 104);
}

.bx-check {
  font-size: 1.8rem;
}

.loading::after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-top: transparent;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

/* ------------------- End -------------------- */
.inactive {
  display: none;
}