/*poppins font from google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --body-color: #fff;
  --light-body-color: #f9fbfc;
  --dashboard-body-color: #f9fbfc;
  --white-color: #fff;
  --primary-color: #4285f4;
  --toggle-color: #ddd;
  --text-color: rgba(0, 0, 0, 1);
  --light-text-color: #4e5559;
  --white-text-color: #fff;
  --border-color: #e6e7e9;
  --input-border-color: #747a7e;
  /* --border-color: rgba(0, 0, 0, 0.3); */

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  --tran-06: all 0.6s ease;
  --tran-07: all 0.7s ease;
  --tran-08: all 0.8s ease;

}

body {
  height: 100vh;
  background: var(--light-body-color);
  transition: var(--tran-05);
  overflow-x: hidden;
  overflow-y: auto;
}


/*Sidebar*/
.sidebar {
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 15%;
  min-width: 220px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 3;

}

header {
  min-height: 165px;
}

.sidebar .logo img {
  max-width: 90%;
  max-height: 200px;
  padding: 10% 20% 0% 27%;
}


.sidebar .headertext .name {
  font-size: 150%;
  display: flex;
  justify-content: center;
  color: var(--text-color);

}

.icon {
  width: 10%;
  margin-right: 5%;
  margin-left: 10%;
}

.sidebar li a,
.mode {
  height: 45px;
  width: 90%;
  text-decoration: none;
  color: var(--text-color);
  margin-top: 3%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background-color: var(--dashboard-body-color);
}

.sidebar li a:focus {
  background-color: var(--primary-color);
  color: var(--white-text-color);
}

/* -------------Dark Mode------------- */
body.dark {
  --body-color: #242526;
  --light-body-color: #f9fbfc;
  --dashboard-body-color: #18191A;
  --white-color: black;
  --primary-color: #57585a;
  --toggle-color: #FFF;
  --text-color: #ccc;
  --light-text-color: #4e5559;
  --white-text-color: #fff;
  --border-color: #e6e7e9;
  --input-border-color: #5b5c5e;
}


.sidebar .menu-bar {
  height: calc(100% - 165px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bxs-sun {
  display: none;
}

body.dark .bxs-sun {
  display: block;
}

body.dark .bx-moon {
  display: none;
}

.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  cursor: pointer;
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--white-color);
  transition: var(--tran-02);
}

.mode a {
  cursor: default;
}

body.dark .switch::before {
  left: 24px
}


.home .text {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--dashboard-body-color);
  transition: var(--tran-02);

}


/* Searchbar */

.main-header {
  position: fixed;
  left: 220px;
  width: calc(100% - 220px);
  display: flex;
  justify-content: space-between;
  background-color: var(--body-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: var(--tran-02);
  z-index: 2;
  
}

.main-header .search-div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  max-width: calc(100% - 220px);
}


.main-header .search-box{
  position: relative;
  height: 40px;
  max-width: 600px;
  width: 100%;
  margin: 0.8% 3rem;
  padding: 1%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--body-color);
  color: var(--light-text-color);

}

.main-header input[type=text] {
  margin-left: 8px;
  width: 100%;
  background-color: var(--body-color);
  color: var(--text-color);
  border: none;
}

.main-header input[type=text]:focus {
  outline: none;
}

/*Message - Bell - Profile image*/

.main-header .notification {
  display: flex;
  align-items: center;
  position: fixed;
  right: 15px;
  top: 10px;
  margin-top: 0.5%;
  color: var(--text-color);
}


.notification .msg i, .bell i {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.notification .profile-img {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  padding-left: 30px;
  font-size: 20px;
  height: 20px;
  border-left: 2px solid var(--border-color);
  cursor: pointer;
}

.profile-img .pro {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-img i{
  padding: 12px;
}

.msg:hover , .bell:hover, .profile-img:hover{
  color: var(--primary-color);
}
